@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    @Styles.Render("~/style/jqueryui")
    @Styles.Render("~/style/main")
    @Styles.Render("~/style/jqgrid")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        @Scripts.Render("~/js/jqueryMain")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/jqgrid/grid.locale-en.js" type="text/javascript"></script>
    <script src="~/Scripts/jqgrid/jquery.jqAutoComplete.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqgrid/jquery.jqDatePicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqgrid/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="~/Scripts/contactmanagement.js" type="text/javascript"></script>*@
   
    @Scripts.Render("~/js/jqgrid")
    @*@Styles.Render("~/js/evolent")*@
    <script src="~/Scripts/contactmanagement.js" type="text/javascript"></script>
</head>
<body>
    <header class="container-fluid">
        <p>Contact Management</p>
    </header>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#section1">View All</a></li>
                    <li><a href="#section2">Add Contact</a></li>
                </ul><br>
            </div>
            <div class="col-sm-9">
               @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
